<div class="col-md-10">
  <div ng-if="!applied.length">
    <h1 class="text-center">No student has applied yet.</h1><br />
  </div>
  <div ng-if="applied.length">
    <form class="form-horizontal">
      <div class="form-group">
        <div class="row">
          <label for="cname" class="col-md-1 col-md-offset-3 control-label">Search</label>
          <div class="col-md-4">
            <div class="form-group">
              <div class="input-group">
                <div class="input-group-addon"><span class="glyphicon glyphicon-search"></span></div>
                <input type="text" class="form-control" ng-model="search" placeholder="Search">
              </div>
            </div>
          </div>
        </div>
      </div>
    </form>
    <table border="1" class="table table-bordered table-hover table-striped">
      <tr class="info">
        <th>S.no</th>
        <th>Name</th>
        <th>Roll no</th>
        <th>Branch</th>
        <th>Company</th>
        <th>Status</th>
      </tr>
      <tr ng-repeat="data in applied | orderBy:'name' | filter:search">
        <td>{{$index + 1}}</td>
        <td>{{data.name}}</td>
        <td>{{data.username}}</td>
        <td>{{data.branch}}</td>
        <td>{{data.company}}</td>
        <td ng-if="data.placed"><button type="button" class="btn btn-success" disabled>Placed</button></td>
        <td ng-if="!data.placed"><button type="button" class="btn btn-primary" ng-click="addplacement(data.user_id, data.company_id)">Click if Placed</button></td>
      </tr>
    </table>
  </div>
</div>
