<div class="col-md-10">
  <form class="form-horizontal">
    <div class="form-group">
      <div class="col-md-4 col-md-offset-4">
        <h2>Add new TPR</h2>
      </div>
    </div>
    <div class="form-group">
      <label for="username" class="col-md-1 col-md-offset-3 control-label">Username</label>
        <div class="col-md-4">
          <div class="input-group">
            <div class="input-group-addon"><span class="glyphicon glyphicon-tags"></span></div>
            <input type="text" class="form-control" placeholder="Enter username" ng-model="username">
          </div>
        </div>
    </div>
    <div class="form-group">
      <label for="name" class="col-md-1 col-md-offset-3 control-label">Name</label>
        <div class="col-md-4">
          <div class="input-group">
            <div class="input-group-addon"><span class="glyphicon glyphicon-user"></span></div>
            <input type="text" class="form-control" placeholder="Enter your name" ng-model="name">
          </div>
        </div>
    </div>
    <div class="form-group">
      <label for="email" class="col-md-1 col-md-offset-3 control-label">Email</label>
        <div class="col-md-4">
          <div class="input-group">
            <div class="input-group-addon"><span class="glyphicon glyphicon-envelope"></span></div>
            <input type="text" class="form-control" placeholder="Enter your email" ng-model="email">
          </div>
        </div>
    </div>
    <div class="form-group">
      <label for="contact" class="col-md-1 col-md-offset-3 control-label">Contact</label>
        <div class="col-md-4">
          <div class="input-group">
            <div class="input-group-addon"><span class="glyphicon glyphicon-earphone"></span></div>
            <input type="text" class="form-control" placeholder="Enter your contact number" ng-model="contact">
          </div>
        </div>
    </div>
    <div class="form-group">
      <label for="password" class="col-md-1 col-md-offset-3 control-label">Password</label>
        <div class="col-md-4">
          <div class="input-group">
            <div class="input-group-addon"><span class="glyphicon glyphicon-eye-close"></span></div>
            <input type="password" class="form-control" placeholder="Password" ng-model="password">
          </div>
        </div>
    </div>
    <div class="form-group">
      <label for="branch" class="col-md-1 col-md-offset-3 control-label">Branch</label>
        <div class="col-md-4">
          <div class="form-group">
            <div class="col-md-12">
              <select class="selectpicker show-menu-arrow form-control" title="Select branch..." ng-model="branch">
                <option>Civil</option>
                <option>EEE</option>
                <option>ME</option>
                <option>ECE</option>
                <option>CSE</option>
                <option>Architecture</option>
                <option>Chemical</option>
              </select>
            </div>
          </div>
        </div>
    </div>
    <div class="form-group">
      <div class="col-md-4 col-md-offset-4">
        <button type="button" class="btn btn-primary glyphicon glyphicon-align-justify" ng-click="addtpr()"><span style="font-family:Lato; font-size:16px"> Add</span></button>
      </div>
    </div>
  </form>
</div>
<script>
  $('.selectpicker').selectpicker();
</script>
