<div class="col-md-10">
  <div ng-if="!applied.companies">
    <h1 class="text-center">You haven't applied yet.</h1><br />
  </div>
  <div ng-if="applied.companies">
    <h1 class="text-center">List of companies where you have applied.</h1>
    <div ng-repeat="company in applied.companies | orderBy:'company.deadline':true">
      <div class="jumbotron">
        <h3>{{$index + 1}}. {{company.name | uppercase}}</h3>
        Package : {{company.package}} lpa<br />
        Date of visiting : {{company.date | date:'dd-MM-yyyy'}}<br />
        Branches : <span ng-repeat="branch in company.branches">{{branch}} </span><br />
        Deadline : {{company.deadline | date:'dd-MM-yyyy'}}<br />
        10th % : {{company.eligibility.tenth}}<br />
        12th % : {{company.eligibility.twelfth}}<br />
        B.Tech : {{company.eligibility.btech}}<br />
        Description : {{company.description}}<br />
        Process : {{company.process}}<br />
        <br />
        <button class="btn btn-success" disabled><span style="font-family:Lato; font-size:14px;">Applied</span></button>
      </div>
    </div>
  </div>
  <!-- Should have a posted by note -->
</div>
