<nav class="navbar navbar-default" ng-controller="authCtrl">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">TnP Portal</a>
    </div>
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav navbar-right" ng-switch on="identity.role()">
        <li><a href="http://www.nith.ac.in">National Institute of Technology, Hamirpur</a></li>
        <li><a ng-click="signOut()" ng-show = identity.isAuthenticated() style="cursor:pointer">Logout</a></li>
        <li><a href="" style="cursor:pointer" ng-switch-when="admin">Admin</a></li>
        <li><a href="" style="cursor:pointer" ng-switch-when="user">User</a></li>
        <li><a href="" style="cursor:pointer" ng-switch-when="tpr">TPR</a></li>
      </ul>
    </div>
  </div>
</nav>
