<div ng-controller="authCtrl" ng-show="identity.isAuthenticated()">
  <div class="sidenav">
    <div ng-switch="identity.role()">
      <!-- ADMIN -->
      <ul ng-switch-when="admin" class="nav nav-pills nav-stacked active-link">
        <li class="active"><a href="/">Home</a></li>
        <li><a role="button" data-toggle="collapse" href="#submenu" aria-expanded="false" aria-controls="submenu">Database</a></li>
          <ul class="collapse" id="submenu">
            <li><a href="/database/civil">Civil</a></li>
            <li><a href="/database/eee">EEE</a></li>
            <li><a href="/database/med">MED</a></li>
            <li><a href="/database/ece">ECE</a></li>
            <li><a href="/database/cse">CSE</a></li>
            <li><a href="/database/architecture">Architecture</a></li>
            <li><a href="/database/chemical">Chemical</a></li>
          </ul>
        <li><a href="/addtpr">Add TPR</a></li>
        <li><a href="/tpr">List TPR</a></li>
        <li><a href="/company/add">Post company</a></li>
        <li><a href="/company/visited">Companies Visited</a></li>
        <li><a href="/company/posted">Companies Posted</a></li> <!-- Will have an edit option inside it and student response as to who all have applied-->
        <li><a href="/placed">Placed Students</a></li> <!-- Show by branch and package and total students -->
      </ul>
      <!-- TPR -->
      <ul ng-switch-when="tpr" class="nav nav-pills nav-stacked active-link">
        <li class="active"><a href="/">Home</a></li>
        <li><a href="/tpr">List TPR</a></li>
        <li><a href="/upload">Upload</a></li>
        <li><a href="/invite">Invite</a></li>
        <li><a href="/database">Database</a></li>
        <li><a href="/company/add">Post company</a></li>
        <li><a href="/company/visited">Companies Visited</a></li>
        <li><a href="/company/posted">Companies Posted</a></li> <!-- Will have an edit option inside it and student response as to who all have applied-->
        <li><a href="/placement/add">Add placement</a></li> 
        <li><a href="/placed">Placed Students</a></li> <!-- Show by branch and package and total students -->
      </ul>
      <!-- USER -->
      <ul ng-switch-when="user" class="nav nav-pills nav-stacked active-link">
        <li class="active"><a href="/">Home</a></li>
        <li><a href="/company/applied">Applied for</a></li>
        <li><a href="/placedin">Placed In</a></li>
        <li><a href="/company/visited">Companies Visited</a></li>
        <li><a href="/company/canapply">Can apply</a></li>
        <li><a href="/placed">Placed Students</a></li> <!-- Show by branch and package and total students -->
      </ul>
    </div>
  </div>
</div>
